<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Welcome with your new account at rate_my_classes_Gettysburg_College</p>
    </body>
</html>